[Desktop Entry]
Name=Auto Lab
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=stage /usr/local/share/stage/worlds/autolab.world
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
