[Desktop Entry]
Encoding=UTF-8
Name=Gazebo
GenericName=Gazebo Robot Simulator
Comment=3D Robot Simulator
TryExec=gazebo
Exec=gazebo
Icon=/usr/share/raspberrypi-artwork/gazebo.png
Type=Application
Categories=Education
Terminal=false
Name[en_GB]=Gazebo
