[Desktop Entry]
Name=Petoi
Comment=Petoi Controller Qt
Icon=usr/share/raspberrypi-artwork/petoi_logo.png
Exec=/PetoiControllerQt/PetoiControllerQt
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
