[Desktop Entry]
Name=Sensor Noise Module Demo
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=stage /usr/local/share/stage/worlds/sensor_noise_module_demo.world
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
