[Desktop Entry]
Type=Application
Version=1.0
Name=Debian Reference
Name[de]=Debian-Referenz
Name[en]=Debian Reference
Name[es]=Guía de referencia Debian
Name[fi]=Debian-referenssi
Name[fr]=Guide de référence pour Debian
Name[it]=La guida Debian
Name[ja]=Debian リファレンス
Name[pl]=Referencja Debian
Name[pt]=Referência Debian
Name[ru]=Справочник по Debian
Name[zh]=Debian 參考手冊
Comment=Debian Reference Guide
Comment[pl]=Przewodnik referencyjny Debian
TryExec=debian-reference
Exec=debian-reference
Icon=debian-reference.png
Terminal=false
Categories=Help;
