[Desktop Entry]
Version=1.0
Name=Reactivate HP LaserJet 1018/1020 after reloading paper
Name[de]=HP LaserJet 1018/1020 nach dem Wiederbefüllen mit Papier reaktivieren
Comment=Click the button in this program when your printer ran out of paper and you have refilled the paper
Comment[de]=Den Knopf in diesem Programm klicken nachdem das Papier im Drucker ausgegangen und es wieder aufgefüllt worden ist
# zExec=usb_printerid /dev/usb/lp0
Exec=/usr/share/foo2zjs/hplj10xx_gui.tcl
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/hplj1020_icon.png
StartupNotify=true
Categories=System;
NoDisplay=true
