[Desktop Entry]
Version=1.0
Name=IDLE (using Python-3.5)
Name[de]=IDLE (verwendet Python 3.5)
Comment=Integrated Development Environment for Python (using Python-3.5)
Comment[de]=Integrierte Entwicklungsumgebung für Python (verwendet Python 3.5)
Exec=idle-python3.5
Icon=python
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
