[Desktop Entry]
Version=1.0
Name=IDLE (using Python-3.4)
Name[de]=IDLE (verwendet Python 3.4)
Comment=Integrated Development Environment for Python (using Python-3.4)
Comment[de]=Integrierte Entwicklungsumgebung für Python (verwendet Python 3.4)
Exec=idle-python3.4
Icon=python
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
