[Desktop Entry]
Version=1.0
Name=IDLE (using Python-2.7)
Name[pl]=IDLE (używając Python-2.7)
Comment=Integrated Development Environment for Python (using Python-2.7)
Comment[pl]=Zintegrowane środowisko programistyczne dla Python (używające Python 2.7)
Exec=idle-python2.7
Icon=python
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
NoDisplay=true
