[Desktop Entry]
Version=1.0
Name=X Terminal Emulator
Name[pl]=Emulator terminala X
Name[pt_BR]=Emulador de terminal
Name[zh_CN]=终端
Name[zh_TW]=終端機
Comment=Terminal emulator
Comment[pl]=Emulator terminala
Comment[pt_BR]=Emulador de terminal
Comment[zh_TW]=終端機程式
GenericName=Terminal Emulator
GenericName[pl]=Emulator terminala
GenericName[pt_BR]=Emulador de terminal
GenericName[zh_TW]=終端機程式
TryExec=/usr/bin/x-terminal-emulator
Exec=x-terminal-emulator
Icon=terminal
Terminal=false
Type=Application
Categories=System;TerminalEmulator;Utility;
StartupNotify=true
NoDisplay=true
