[Desktop Entry]
Version=1.0
Name=Lxkeymap
Comment=Lxkeymap application
Comment[pl]=Aplikacja Lxkeymap
Categories=Settings;
Exec=lxkeymap
Icon=/usr/share/lxkeymap/media/icon.png
Terminal=false
Type=Application
NoDisplay=true
