[Desktop Entry]
Version=1.0
Type=Application
Icon=xfwm4
Exec=lxsession-edit
Name=Desktop Session Settings
Name[de]=Desktopsitzungseinstellungen
Comment=Manage applications loaded in desktop session
Comment[de]=Zur Sitzung geladene Anwendungen verwalten
Categories=Settings;DesktopSettings;X-LXDE-Settings;
NotShowIn=GNOME;KDE;XFCE;
NoDisplay=true
TryExec=lxsession-edit
