[Desktop Entry]
Version=1.0
Name=Mono Runtime
Name[pl]=Środowisko uruchomieniowe Mono
Exec=mono
Terminal=false
Type=Application
Icon=mono-runtime-common
MimeType=application/x-ms-dos-executable;
NoDisplay=true
TryExec=mono
