[Desktop Entry]
Version=1.0
Name=Mono Runtime (Terminal)
Name[de]=Mono‑Laufzeitumgebung (Terminal)
Exec=mono
Terminal=true
Type=Application
Icon=mono-runtime-common
MimeType=application/x-ms-dos-executable;
NoDisplay=true
TryExec=mono
