[Desktop Entry]
Version=1.0
Name=OpenJDK Java 8 Policy Tool
Name[fi]=OpenJDK Java 8 - käytäntötyökalu
Name[fr]=OpenJDK Java 8 - Outil de réglage
Name[pl]=Narzędzie wytycznych OpenJDK Java 8
Comment=OpenJDK Java 8 Policy Tool
Comment[fi]=OpenJDK Java 8 - käytäntötyökalu
Comment[fr]=OpenJDK Java 8 - Outil de réglage
Comment[pl]=Narzędzie wytycznych OpenJDK Java 8
Keywords=java;security;policytool;
Keywords[pl]=java;bezpieczeństwo;zabezpieczenie;wytyczna;policytool;
Exec=policytool
Terminal=false
Type=Application
Icon=openjdk-8
Categories=Settings;
NoDisplay=true
