[Desktop Entry]
Version=1.0
Name=OpenJDK Java 8 Policy Tool
Name[de]=OpenJDK Java 8 Richtlinienwerkzeug
Name[fi]=OpenJDK Java 8 - käytäntötyökalu
Name[fr]=OpenJDK Java 8 - Outil de réglage
Comment=OpenJDK Java 8 Policy Tool
Comment[de]=OpenJDK Java 8 Richtlinienwerkzeug
Comment[fi]=OpenJDK Java 8 - käytäntötyökalu
Comment[fr]=OpenJDK Java 8 - Outil de réglage
Keywords=java;security;policytool;
Keywords[de]=java;Sicherheit;policytool;
Exec=policytool
Terminal=false
Type=Application
Icon=openjdk-8
Categories=Settings;
NoDisplay=true
