[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
TryExec=scratch
Exec=scratch
Icon=scratch
Terminal=false
Name=Scratch
Comment=Programming system and content development tool
Comment[pl]=System programowania i narzędzie do tworzenia zawartości
Categories=Application;Development;
MimeType=application/x-scratch-project;
