[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec=squeak
Icon=/usr/share/pixmaps/squeak.png
Terminal=false
Name=Squeak
Comment=Programming system and content development tool
Comment[es]=Herramienta de desarrollo de contenidos y aplicaciones
Comment[de]=Programmiersystem und Inhaltentwicklungswerkzeug
Categories=Application;Education;Development;
MimeType=application/x-image;application/squeak-image;application/squeak-project;
NoDisplay=true
TryExec=squeak
