[Desktop Entry]
Version=1.0
Name=SuperCollider IDE
GenericName=SuperCollider IDE
Comment=SuperCollider Intergrated Development Environment
Comment[de]=Integrierte Entwicklungsumgebung „SuperCollider“
Exec=scide %f
Icon=sc_ide
Type=Application
Terminal=false
Categories=Application;Multimedia;Audio;AudioVideo;
MimeType=text/x-sc;
NoDisplay=true
