[Desktop Entry]
Version=1.0
Name=PDF Viewer
Name[de]=PDF‑Betrachter
GenericName=PDF viewer
GenericName[de]=PDF‑Betrachter
Comment=Viewer for PDF files
Comment[de]=Betrachter zum Anzeigen von PDF‑Dateien
TryExec=xpdf
Exec=xpdf
Icon=xpdf
Terminal=false
Type=Application
MimeType=application/pdf;
Categories=Viewer;Utility;
