[Desktop Entry]
Name=Auto Lab
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=bash -c 'ln -s /usr/share/applications/autolab.desktop /home/$USER/Desktop/autolab.desktop'
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
