[Desktop Entry]
Name=LSP Test
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=bash -c 'ln -s /usr/share/applications/lsp_test.desktop /home/$USER/Desktop/lsp_test.desktop'
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
