[Desktop Entry]
Name=Pioneer Walle
Comment=Stage Example
Icon=usr/share/raspberrypi-artwork/stage.png
Exec=bash -c 'ln -s /usr/share/applications/pioneer_walle /home/$USER/Desktop/pioneer_walle.desktop'
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
