[Desktop Entry]
Name=Roomba
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=bash -c 'ln -s /usr/share/applications/roomba.desktop /home/$USER/Desktop/roomba.desktop'
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
