[Desktop Entry]
Name=Sensor Noise Module Demo
Comment=Stage Example
Icon=/usr/share/raspberrypi-artwork/stage.png
Exec=bash -c 'ln -s /usr/share/applications/sensor_noise_module_demo.desktop /home/$USER/Desktop/sensor_noise_module_demo.desktop'
Type=Application
Encoding=UTF-8
Terminal=falseAuto
Categories=Education
